# Compiled
*.elc
*.pyc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# openrc configs
*-openrc.sh

# terraform
.terraform*
## user specific secrets
terraform/secrets/public_keys
terraform/secrets/tunnel_keys
